.div{border: 2px  solid rgb(33, 184, 46);   
}
body{
  background-image: url('abc.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 7px 400px;
  background-size: 1350px 500px;
  animation-name: example;
  animation-duration: 19s;
  animation-iteration-count: infinite;
}



@keyframes example {
0% {background-image: url("abc.jpg");}
25% {background-image: url("pqr.jpg");}
50% {background-image: url("abc.jpg");}
100% {background-image: url("pqr.jpg");}
}

#s {
    margin: 105px 1020px ;
 }


#h2{background-color: coral;color:white;}
#a{color:rgb(60, 50, 150);
z-index: 4;}